
     /* ajouet de navbar */
header{
    background-color: rgb(2, 2, 1);
    height: 60px;
    width: 100%;
    display: flex;

}
header div img{
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
}
header h3{
    color: white;
    margin-left: 5px;
}
header div input{
height: 30px;
width: 200px;
margin-top: 15px;
border: none;
margin-left: 200px;
border-radius: 10px;
padding-left: 5px;
}
header button{
    color: white;
    margin-left: 5px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 300px;
    background-color: green;
    border: none;
    border-radius: 5px;
    width: 80px;
}

 /* la section de positions des joueurs et le terrain  */
body{
    background-color: rgb(16, 60, 16);

}
section{
    width: 70%;
    display: flex;
}
.stadium-item{
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
}
.stadium-item img{
    height: 400px;
    width: 600px;
}
.positions-item{
    position:absolute;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 3%;
    
}

.attack-div{
margin-left: auto;
margin-right: auto;
display: flex;
gap: 30px;

}

.milieu-div{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: start;
    gap: 60px;
    }
    .defense-div{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        gap: 50px;
        
        }


        .garde-div{
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
        
            }

        .gold-img{
            height: 70px;
            width: 60px;
        }
        .carte-dev{
            display: flex;
            flex-direction: column;
        }
        button{
            cursor: pointer;
            height: 20px;
            width: 30px;
            border: black solid 1px;
            border-radius: 5px;
            margin: auto;
            padding:auto;
        }
        button:hover{
            background-color: orange;
        }