
     /* ajouet de navbar */
header{
    background-color: rgb(2, 2, 1);
    height: 60px;
    width: 100%;
    display: flex;

}
header div img{
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
}
header h3{
    color: white;
    margin-left: 5px;
}
header div input{
height: 30px;
width: 200px;
margin-top: 15px;
border: none;
margin-left: 200px;
border-radius: 10px;
padding-left: 5px;
}
header button{
    color: white;
    margin-left: 5px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 300px;
    background-color: green;
    border: none;
    border-radius: 5px;
    width: 80px;
}



 /* la section de positions des joueurs et le terrain  */
body{
    background-color: rgb(16, 60, 16);
}
.stadium-container{
    width: 70%;
    display: flex;
}
.stadium-item{
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
}
.stadium-item img{
    height: 400px;
    width: 600px;
}
.positions-item{
    position:absolute;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 11%;
    padding-top: 3%;
}

.attack-div{
margin-left: auto;
margin-right: auto;
display: flex;
gap: 30px;

}

.milieu-div{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: start;
    gap: 60px;
    }
.defense-div{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        gap: 50px;
        
        }


.garde-div{
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
        
            }

        .gold-img{
            height: 70px;
            width: 60px;
        }
        .carte-dev{
            display: flex;
            flex-direction: column;
        }
        .bouton{
            cursor: pointer;
            height: 20px;
            width: 30px;
            border:none;
            border-radius: 5px;
            margin: auto;
            background: none;
        }
        .bouton:hover{
            color: orange;       
         }


        /* .lw-div:hover{
            box-shadow: 10px;
        } */

       /* --------------------- la carte du joueur vide dans le stadium*/

        .name{
            font-size: 200%;
            margin-left: 40%;
            padding-top: 5%;
        }
        .logo ,.flag{
            height: 30%;
            width: 30%; 
        }
        .photo{
            height: 100%;
            width: 80%;
            margin-top: 5%;
            margin-right: 6%;
        }
        .player-personal-infos-div{
            width: 50%;
            margin-left: 15%;
            margin-top: 10%;
        }

        .position, .flag{
            margin-bottom: 5%;
            margin-left: 15%;
        }
        .nationality{
            margin-bottom: 5%;
        }
        .player-card{

            height: 70px;
            width: 50px;
            background-image: url('/image/card-golden.png');
            background-size: 100% 100%;
            background-color: antiquewhite;
            border-radius: 5%;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }
        .player-card:hover{
            box-shadow: 0px 0px 20px rgba(235, 12, 12, 0.5);

        }
        .player-div{
            display: flex;
            justify-content: center;
        }
        .player-infos-div{
            display: flex;
            justify-content: space-around;
        }

        /* creer la page de remplissage */
.page-remplissage-container{
    height: 200px;
    width: 80%;
    background-color: rgb(12, 32, 6);
    margin: auto;
    border-radius: 10px;
}
.auto-remplissage-div{
max-width: 500px;
height: 120px;
margin: auto;
margin-top: 20px;
display: flex;
gap: 10px;
overflow-x: auto;
}
.carte{
    height: 100px;
    width: 80px;
    flex-shrink: 0;
}
/* .carte:hover{
    box-shadow: 0px 0px 10px rgba(9, 240, 55, 0.5);

} */
.auto-remplissage-div::-webkit-scrollbar{
    display: none;
}
 /* ajouter la carte d'or des players  */
 .player-card-js{
    height: 100px;
    width: 80px;
    background-image: url('/image/card-golden.png');
    background-size: 100% 100%;
    background-color: antiquewhite;
    border-radius: 5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.player-card1{
    height: 70px;
    width: 60px;
    background-image: url('/image/card-golden.png');
    background-size: 100% 100%;
    background-color: antiquewhite;
    border-radius: 5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.rating{
    font-size: 10px; margin-left: 5px; padding-top: 2%;
}

.image-div{
    height: 35%;
    width: 46%;
    border: 1px solid gold;
    border-radius: 50%;
    margin: auto;
}
.image-div img{
    height: 85%; margin-left: 7%;
}
.name{
    display: flex; justify-content: center; font-size: 5px;
}
.club-info{
margin-top: 3px;    /* display: flex; justify-content: space-evenly; margin-top: 5%; */
}
.club-div,.flag-div{
    display: flex; 
    gap: 10px;
    margin-left: 15px;
}
.club-info div{
    font-size:5px;
}
.club-info img{
    height: 5px;   
 }
.score{
    margin-top: 5%; 
}
.score-1{
    display: flex; gap: 8%; margin-left: 8%;
}
.score-2{
    display: flex; gap: 8%; margin-left: 8%; margin-top: 8%;
}
.score div div, .nationality{
    font-size: 4px;
} 

.flex{
    display: flex;
    position: relative;
}

/* 6666666666666666666666666 */
.player-card22{
    height: 70px;
    width: 60px;
    background-image: url('/image/card-golden.png');
    background-size: 100% 100%;
    background-color: antiquewhite;
    border-radius: 5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.rating22{
    font-size: 5%; margin-left: 10%; padding-top: 2%;
}

.image-div22{
    height: 35%;
    width: 46%;
    border: 1px solid gold;
    border-radius: 50%;
    margin: auto;
}
.image-div22 img{
    height: 85%; margin-left: 7%;
}
.name22{
    display: flex; justify-content: center; font-size: 10%;
}
.club-info22{
    display: flex; justify-content: space-evenly; margin-top: 5%;
}
.club-info22 div{
    font-size:5px;
}
.club-info22 img{
    height: 5px;   
 }
.score22{
    margin-top: 10%; 
}
.score-122{
    display: flex; gap: 8%; margin-left: 8%;
}
.score-222{
    display: flex; gap: 8%; margin-left: 8%; margin-top: 8%;
}
.score22 div div{
    font-size: 4px;
}
